body {
	background: #f0f0f0;
}
h1 {
	text-align: center;
}
#badge_form {
	text-align: center;
	max-width: 640px;
	margin: auto;
}
.show-border canvas {
	border-color: #c6c6c6;
}
canvas {
	margin: 2em auto;
	display: block;
	border: 1px solid transparent;
}
#force_font {
	font-family: 'Press Start 2P';
	overflow: hidden;
	color: transparent;
	height: 0;
	width: 0;
}
input[type=number] {
	text-align: right;
}
#dpi {
	width: 4em;
}
#print_badge {
	display: none;
}

#size option {
	text-align: right;
	padding-right: 1em;
}
@media print {
	body {
		background: transparent;
	}
	h1,
	#badge_form,
	#preview_badge,
	#force_font {
		display: none;
	}
	#print_badge {
		border-width: 0.5mm;
		border-style: dashed;
	}
	#print_badge {
		display: block;
	}
}
