body {
	background: #f0f0f0;
	font-family: sans-serif;
	line-height: 1.5;
}
h1 {
	text-align: center;
}
#badge_form {
	text-align: center;
	max-width: 640px;
	margin: auto;
}
.show-border canvas {
	border-color: #c6c6c6;
}
canvas {
	margin: 2em auto;
	display: block;
	border: 1px solid transparent;
}
#force_font {
	font-family: 'Press Start 2P';
	overflow: hidden;
	color: transparent;
	height: 0;
	width: 0;
}
input[type=number] {
	text-align: right;
}
code {
	background-color: white;
	padding: 1px 2px;
	border: 1px solid lightgray;
	border-radius: 3px;
	color: #303030;
}
#dpi {
	width: 4em;
}
#print_badge {
	display: none;
}
#size option {
	text-align: right;
	padding-right: 1em;
}
#help_wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 0%;
	overflow: hidden;
	transition: height 500ms;
	cursor: pointer;
}
#help {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 40px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	background: white;
	background: rgba(255,255,255,0.9);
	cursor: default;
}
#help_content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	padding-bottom: 50px;
}
#help h2,
#help h3,
#help p {
	max-width: 600px;
	cursor: text;
}
#help a {
	cursor: pointer;
}

#help h2 {
	margin: 2em auto 0.5em auto;
}

#help h3 {
	margin: 1.5em auto 0.5em auto;
}

#help p {
	margin: 1em auto;
	text-align: justify;
}
#help .hide-button {
	text-decoration: none;
	position: absolute;
	bottom: 10px;
	right: 30px;
	font-size: 38px;
	font-weight: bold;
	color: lightgray;
}
#help .hide-button:hover {
	color: gray;
}
.help-button {
	text-decoration: none;
}
body.help-shown {
	overflow: hidden;
}
.help-shown #help_wrapper {
	height: 100%;
}
h1,
#badge_form,
#preview_badge {
	transition: -webkit-filter 500ms;
}
.help-shown h1,
.help-shown #badge_form,
.help-shown #preview_badge {
	-webkit-filter: blur(10px);
}
@media print {
	body {
		background: transparent;
	}
	h1,
	#badge_form,
	#preview_badge,
	#force_font,
	#help_wrapper {
		display: none;
	}
	#print_badge {
		border-width: 0.5mm;
		display: block;
	}
}
